
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Sign In</title>
    </head>
    <body>
        <h3>Sign In</h3>

        <form th:action="@{/user/session/create}" method="post" th:object="${signInSet}">
            <label>E-mail:</label>
            <input type="text" th:field="*{email}" /><br/>

            <label>Password:</label>
            <input type="text" th:field="*{password}" /><br/>

            <button type="submit">Register</button>
        </form>
    </body>
</html>